// Custom styles.
body{
    background:url(http://pic1.nipic.com/2008-12-30/200812308231244_2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
