// Custom styles.
body{
    background:url(http://img1.cache.netease.com/catchpic/1/19/19906B6772099C376B7AED148727964E.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
